<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>HOME!!!!!!!!</display-name>
    <filter>
        <filter-name>EncodingFilter</filter-name> <!--Обязательно нужно добавить mapping (указание на URL-адреса? на которых фильтр должен отрабатывать, он не может отрабатывать на всех без указания URL, без этого не сможет отрабатывать -->
        <filter-class>filters.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern> <!--/* - regex - означает, что после / может быть сколько угодно любых символлов, то есть применяется ко всем файлам-->
    </filter-mapping>

    <session-config>
        <session-timeout>60</session-timeout><!--установление жизненного цикла сессии на 60 - это стандарт минут, по истечении которого удаляется сессия-->
    </session-config>

</web-app>

<!--Java веб-приложения используют файл дескриптора развертывания для определения какие URL будут передаваться определенному сервлету,
какие URL требуют аутентификации и др. Этот дескриптор развертывания называется web.xml и находится в WAR приложения в  WEB-INF/ директории.
Web.xml – часть стандарта сервлета для веб-приложений.

Дескриптор развертывания веб-приложений описывает классы, ресурсы и конфигурацию приложения,
а так же как сервер будет использовать их для выполнения веб-запросов. Когда сервер получает запрос для приложения,
он использует дескриптор развертывания для отображения URL запроса к коду, который должен этот запрос обработать.-->